
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

h1 {
	color: orange;
};

.endpoint {
	background-color: #fefefe;

	.final-order {

		.products {
			ul {
				padding: 0;
				list-style: none;
			}
		}
	}

	.response {
		background-color: #fddddd;
		.discounts {
			padding: 10px;

			.discount {
				margin-top: 5px;
			}
		}
	}

	.success {
		background-color: #e5ffdd;
	}

	.order {
		margin-top: 20px;
		cursor: pointer;
	}

	.active {
		background-color: #f7f7f7;		
	}

	.toggle-order {
		margin: 5px;
	}

	.compose-order {
		margin-top: 20px;

		.customers, .products {
			margin-top: 15px;
		}
	}

	.submit-order {
		padding: 15px;
		button {
			width: 100%;
		}

		button:disabled {
			cursor: not-allowed;
			border: 2px solid crimson;
		}
	}

}